<h3>{{yield}}</h3>

<div class="entry-container">
  <input class="in-title" type="text" placeholder={{this.placeholder}} value={{value}} {{on "change" this.updateEntry}} >
  <FroalaEditor @content={{this.content}} @update={{fn (mut this.content)}} />
  <button class="in-button" type="button" {{on "click" this.submitEntry}}>Submit</button>
</div>