<h4>{{yield}}</h4>

<input type="text" placeholder={{this.placeholder}} value={{value}} {{on "change" this.updateEntry}} >
<FroalaEditor @content={{this.content}} @update={{fn (mut this.content)}} />
<button type="button" {{on "click" this.submitEntry}}>Submit</button>